# Pandas: grouping

In [1]:
import pandas as pd
import numpy as np

In [2]:
cars = pd.read_csv("vehicles.csv")

In [3]:
cars.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

<font size="4"><font color='orange'>- How many Car models are there in the database? </font>

In [4]:
## number of Models

len(cars["Model"].unique())

3608

<font size="4"><font color='orange'>- Group by the data by the Make  using count function </font>

In [5]:
## DF Grouped by "Make"

cars_grouped_by_Make = cars.groupby(["Make"]).count()
cars_grouped_by_Make

,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
Make,,,,,,,,,,,,,,
AM General,4,4,4,4,4,4,4,4,4,4,4,4,4,4
ASC Incorporated,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Acura,302,302,302,302,302,302,302,302,302,302,302,302,302,302
Alfa Romeo,41,41,41,41,41,41,41,41,41,41,41,41,41,41
American Motors Corporation,22,22,22,22,22,22,22,22,22,22,22,22,22,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Volkswagen,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047,1047
Volvo,717,717,717,717,717,717,717,717,717,717,717,717,717,717
Wallace Environmental,32,32,32,32,32,32,32,32,32,32,32,32,32,32
Yugo,8,8,8,8,8,8,8,8,8,8,8,8,8,8
smart,20,20,20,20,20,20,20,20,20,20,20,20,20,20

<font size="4"><font color='orange'>- What brand has the most cars? </font>

In [6]:
## Sort counted values [=> chevrolet]  

cars_grouped_by_Make.sort_values(by="Model", ascending=False)

,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
Make,,,,,,,,,,,,,,
Chevrolet,3643,3643,3643,3643,3643,3643,3643,3643,3643,3643,3643,3643,3643,3643
Ford,2946,2946,2946,2946,2946,2946,2946,2946,2946,2946,2946,2946,2946,2946
Dodge,2360,2360,2360,2360,2360,2360,2360,2360,2360,2360,2360,2360,2360,2360
GMC,2347,2347,2347,2347,2347,2347,2347,2347,2347,2347,2347,2347,2347,2347
Toyota,1836,1836,1836,1836,1836,1836,1836,1836,1836,1836,1836,1836,1836,1836
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Excalibur Autos,1,1,1,1,1,1,1,1,1,1,1,1,1,1
S and S Coach Company E.p. Dutton,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Environmental Rsch and Devp Corp,1,1,1,1,1,1,1,1,1,1,1,1,1,1
"E. P. Dutton, Inc.",1,1,1,1,1,1,1,1,1,1,1,1,1,1
Lambda Control Systems,1,1,1,1,1,1,1,1,1,1,1,1,1,1

<font size="4"><font color='orange'>- Show the average CO2_Emission_Grams/Miles by Brand </font>

In [7]:
## Groupby brand applied on COs emission

CO2_brands_avg = cars.groupby("Make")["CO2 Emission Grams/Mile"].mean()
CO2_brands_avg

Make
AM General                     611.358244
ASC Incorporated               555.437500
Acura                          422.585325
Alfa Romeo                     463.952115
American Motors Corporation    505.758823
                                  ...
Volkswagen                     392.741721
Volvo                          435.803755
Wallace Environmental          657.990029
Yugo                           356.068256
smart                          247.030556
Name: CO2 Emission Grams/Mile, Length: 127, dtype: float64

<font size="4"><font color='orange'>- Show the average CO2_Emission_Grams/Miles by Brand ... sorted </font>

In [8]:
CO2_brands_avg.sort_values(ascending=False)

Make
Vector                                1049.159722
Superior Coaches Div E.p. Dutton       888.700000
S and S Coach Company  E.p. Dutton     888.700000
Bugatti                                873.062500
Laforza Automobile Inc                 807.909091
                                         ...
MINI                                   313.716862
Daihatsu                               310.188060
Fiat                                   304.666560
smart                                  247.030556
Fisker                                 169.000000
Name: CO2 Emission Grams/Mile, Length: 127, dtype: float64

<font size="4"><font color='orange'>- Use `pd.cut` or `pd.qcut` to create 4 groups (bins) of cars, by Year. We want to explore how cars have evolved decade by decade. </font>

In [9]:
cars['Year'].describe()

count    35952.00000
mean      2000.71640
std         10.08529
min       1984.00000
25%       1991.00000
50%       2001.00000
75%       2010.00000
max       2017.00000
Name: Year, dtype: float64

In [10]:
## Defining bins according to decade 

cars["Decade"] = pd.cut(cars["Year"], bins=[1980, 1989, 1999, 2009, 2019], labels = ["80s", "90s", "2000s", "2010s"], retbins=False)

In [11]:
cars

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year,Decade
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950,80s
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,80s
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100,80s
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,80s
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550,80s
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100,2010s
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100,2010s
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100,2010s
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100,2010s
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150,2010s

In [12]:
## Grouping by decade + filtering out excess info 

cars.groupby("Decade")["Decade"].count()

Decade
80s       6858
90s       9410
2000s    10585
2010s     9099
Name: Decade, dtype: int64

<font size="4"><font color='orange'>- Did cars consume more gas in the eighties? </font>

show the average City_Km/Liter by year_range

In [13]:
## Average gas consumption per decade

consumption_decade = cars.groupby(["Decade"])["City MPG"].mean()
consumption_decade

Decade
80s      17.327209
90s      16.954091
2000s    16.834199
2010s    19.546763
Name: City MPG, dtype: float64

In [14]:
consumption_decade.sort_values(ascending=True)

Decade
2000s    16.834199
90s      16.954091
80s      17.327209
2010s    19.546763
Name: City MPG, dtype: float64

<font size="4"><font color='orange'>- Which brands are more environment friendly? </font>

In [15]:
CO2_brands_avg.sort_values(ascending=True)

Make
Fisker                                 169.000000
smart                                  247.030556
Fiat                                   304.666560
Daihatsu                               310.188060
MINI                                   313.716862
                                         ...
Laforza Automobile Inc                 807.909091
Bugatti                                873.062500
Superior Coaches Div E.p. Dutton       888.700000
S and S Coach Company  E.p. Dutton     888.700000
Vector                                1049.159722
Name: CO2 Emission Grams/Mile, Length: 127, dtype: float64

<font size="4"><font color='orange'>- Does the drivetrain affect fuel consumption? </font>

In [16]:
## Grouping fuel consumption by Drivetrain 

fuel_by_drivetrain = cars.groupby(["Drivetrain"])["Fuel Barrels/Year"].mean()

In [17]:
fuel_by_drivetrain.sort_values(ascending=True)

Drivetrain
2-Wheel Drive, Front          11.771786
Front-Wheel Drive             14.266654
All-Wheel Drive               16.349672
4-Wheel Drive                 17.942952
Rear-Wheel Drive              19.587486
4-Wheel or All-Wheel Drive    20.484720
Part-time 4-Wheel Drive       20.628218
2-Wheel Drive                 21.069467
Name: Fuel Barrels/Year, dtype: float64

<font size="4"><font color='orange'> - Do cars with automatic transmission consume more fuel than cars with manual transmission? </font>

In [18]:
cars.Transmission.unique()

array(['Automatic 3-spd', 'Automatic 4-spd', 'Manual 5-spd',
       'Automatic (S5)', 'Manual 6-spd', 'Automatic 5-spd', 'Auto(AM8)',
       'Auto(AM-S8)', 'Auto(AV-S7)', 'Automatic (S6)', 'Automatic (S9)',
       'Automatic (S4)', 'Auto(AM-S9)', 'Automatic (S7)', 'Auto(AM7)',
       'Auto(AM-S7)', 'Auto(AM6)', 'Automatic 6-spd', 'Manual 4-spd',
       'Automatic (S8)', 'Manual(M7)', 'Auto(AM-S6)',
       'Automatic (variable gear ratios)', 'Automatic (AV)',
       'Auto(AV-S8)', 'Automatic (AM6)', 'Automatic 8-spd', 'Auto(A1)',
       'Automatic (A1)', 'Automatic (A6)', 'Auto(AV-S6)', 'Manual 3-spd',
       'Manual 7-spd', 'Automatic 9-spd', 'Auto (AV)', 'Automatic 6spd',
       'Auto(L4)', 'Auto(L3)', 'Auto (AV-S6)', 'Auto (AV-S8)',
       'Automatic (AV-S6)', 'Automatic 7-spd', 'Manual 5 spd',
       'Auto(AM5)', 'Automatic (AM5)'], dtype=object)

In [19]:
Transmission1 = cars.Transmission.where(cars.Transmission.str.startswith("A"), "M")
Transmission1.unique()

array(['Automatic 3-spd', 'Automatic 4-spd', 'M', 'Automatic (S5)',
       'Automatic 5-spd', 'Auto(AM8)', 'Auto(AM-S8)', 'Auto(AV-S7)',
       'Automatic (S6)', 'Automatic (S9)', 'Automatic (S4)',
       'Auto(AM-S9)', 'Automatic (S7)', 'Auto(AM7)', 'Auto(AM-S7)',
       'Auto(AM6)', 'Automatic 6-spd', 'Automatic (S8)', 'Auto(AM-S6)',
       'Automatic (variable gear ratios)', 'Automatic (AV)',
       'Auto(AV-S8)', 'Automatic (AM6)', 'Automatic 8-spd', 'Auto(A1)',
       'Automatic (A1)', 'Automatic (A6)', 'Auto(AV-S6)',
       'Automatic 9-spd', 'Auto (AV)', 'Automatic 6spd', 'Auto(L4)',
       'Auto(L3)', 'Auto (AV-S6)', 'Auto (AV-S8)', 'Automatic (AV-S6)',
       'Automatic 7-spd', 'Auto(AM5)', 'Automatic (AM5)'], dtype=object)

In [28]:
cars["Transmission_binary"] = Transmission1.where(cars.Transmission.str.startswith("M"), "A")
Transmission_binary.unique()

array(['A', 'M'], dtype=object)

In [29]:
cars

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year,Decade,Transmission_binary
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950,80s,A
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,80s,A
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100,80s,A
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550,80s,A
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550,80s,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100,2010s,A
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100,2010s,A
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100,2010s,A
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100,2010s,A
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150,2010s,M

In [23]:
## Grouping fuel consumption by Transmission

fuel_by_transmission = cars.groupby(["Transmission_binary"])["Fuel Barrels/Year"].mean()

KeyError: 'Transmission_binary'

In [ ]:
.sort_values(ascending=True)

Use `groupby` and `aggregate` with different aggregation measures for different columns:

<font size="4"><font color='orange'>- Aggregate with average City_Km/Liter and the count of the Trans </font>

In [ ]:
## your code is here

<font size="4"><font color='orange'>- Aggregate with average City_Km/Liter and the minimum of the Trans </font>

In [ ]:
### your code is here