# Using Pandas

In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows', 200)
## to make it possible to display multiple output inside one cell 
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

<b>load the data from the vehicles.csv file into pandas data frame

In [2]:
cars = pd.read_csv("vehicles.csv")
cars

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

First exploration of the dataset:

- How many observations does it have?
- Look at all the columns: do you understand what they mean?
- Look at the raw data: do you see anything weird?
- Look at the data types: are they the expected ones for the information the column contains?

In [3]:
N_r = len(cars)
N_c = len(cars.columns)

In [4]:
int(N_c) * int(N_r)

539280

In [5]:
cars["Make"]

0              AM General
1              AM General
2              AM General
3              AM General
4        ASC Incorporated
               ...
35947               smart
35948               smart
35949               smart
35950               smart
35951               smart
Name: Make, Length: 35952, dtype: object

### Cleaning and wrangling data

- Some car brand names refer to the same brand. Replace all brand names that contain the word "Dutton" for simply "Dutton". If you find similar examples, clean their names too. Use `loc` with boolean indexing.

In [6]:
cars.Make = np.where(cars["Make"].str.contains("[dD]utton"), "Dutton", cars.Make)

In [7]:
cars["Make"].unique()

array(['AM General', 'ASC Incorporated', 'Acura', 'Alfa Romeo',
       'American Motors Corporation', 'Aston Martin', 'Audi',
       'Aurora Cars Ltd', 'Autokraft Limited', 'BMW', 'BMW Alpina',
       'Bentley', 'Bertone', 'Bill Dovell Motor Car Company',
       'Bitter Gmbh and Co. Kg', 'Bugatti', 'Buick', 'CCC Engineering',
       'CX Automotive', 'Cadillac', 'Chevrolet', 'Chrysler',
       'Consulier Industries Inc', 'Dabryan Coach Builders Inc', 'Dacia',
       'Daewoo', 'Daihatsu', 'Dodge', 'Dutton', 'Eagle',
       'Environmental Rsch and Devp Corp', 'Evans Automobiles',
       'Excalibur Autos', 'Federal Coach', 'Ferrari', 'Fiat', 'Fisker',
       'Ford', 'GMC', 'General Motors', 'Genesis', 'Geo', 'Goldacre',
       'Grumman Allied Industries', 'Grumman Olson', 'Honda', 'Hummer',
       'Hyundai', 'Import Foreign Auto Sales Inc',
       'Import Trade Services', 'Infiniti', 'Isis Imports Ltd', 'Isuzu',
       'J.K. Motors', 'JBA Motorcars, Inc.', 'Jaguar', 'Jeep', 'Kia',
       'Laforza Automobile Inc', 'Lambda Control Systems', 'Lamborghini',
       'Land Rover', 'Lexus', 'Lincoln', 'London Coach Co Inc',
       'London Taxi', 'Lotus', 'MINI', 'Mahindra', 'Maserati', 'Maybach',
       'Mazda', 'McLaren Automotive', 'Mcevoy Motors', 'Mercedes-Benz',
       'Mercury', 'Merkur', 'Mitsubishi', 'Mobility Ventures LLC',
       'Morgan', 'Nissan', 'Oldsmobile', 'PAS Inc - GMC', 'PAS, Inc',
       'Pagani', 'Panos', 'Panoz Auto-Development',
       'Panther Car Company Limited', 'Peugeot', 'Pininfarina',
       'Plymouth', 'Pontiac', 'Porsche', 'Quantum Technologies', 'Qvale',
       'Ram', 'Red Shift Ltd.', 'Renault', 'Rolls-Royce',
       'Roush Performance', 'Ruf Automobile Gmbh', 'SRT', 'Saab',
       'Saleen', 'Saleen Performance', 'Saturn', 'Scion', 'Shelby',
       'Spyker', 'Sterling', 'Subaru', 'Suzuki', 'TVR Engineering Ltd',
       'Tecstar, LP', 'Texas Coach Company', 'Toyota', 'VPG', 'Vector',
       'Vixen Motor Company', 'Volga Associated Automobile', 'Volkswagen',
       'Volvo', 'Wallace Environmental', 'Yugo', 'smart'], dtype=object)

In [8]:
cars.columns

Index(['Make', 'Model', 'Year', 'Engine Displacement', 'Cylinders',
       'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type',
       'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG',
       'CO2 Emission Grams/Mile', 'Fuel Cost/Year'],
      dtype='object')

In [9]:
cars["Transmission"].unique()

array(['Automatic 3-spd', 'Automatic 4-spd', 'Manual 5-spd',
       'Automatic (S5)', 'Manual 6-spd', 'Automatic 5-spd', 'Auto(AM8)',
       'Auto(AM-S8)', 'Auto(AV-S7)', 'Automatic (S6)', 'Automatic (S9)',
       'Automatic (S4)', 'Auto(AM-S9)', 'Automatic (S7)', 'Auto(AM7)',
       'Auto(AM-S7)', 'Auto(AM6)', 'Automatic 6-spd', 'Manual 4-spd',
       'Automatic (S8)', 'Manual(M7)', 'Auto(AM-S6)',
       'Automatic (variable gear ratios)', 'Automatic (AV)',
       'Auto(AV-S8)', 'Automatic (AM6)', 'Automatic 8-spd', 'Auto(A1)',
       'Automatic (A1)', 'Automatic (A6)', 'Auto(AV-S6)', 'Manual 3-spd',
       'Manual 7-spd', 'Automatic 9-spd', 'Auto (AV)', 'Automatic 6spd',
       'Auto(L4)', 'Auto(L3)', 'Auto (AV-S6)', 'Auto (AV-S8)',
       'Automatic (AV-S6)', 'Automatic 7-spd', 'Manual 5 spd',
       'Auto(AM5)', 'Automatic (AM5)'], dtype=object)

In [10]:
## Create a binary column that solely indicates if the transmission of a car 
## is automatic or manual. Use `pandas.Series.str.startswith`.

In [11]:
cars["Trans_binary"] = np.where(cars["Transmission"].str.startswith("A"), "A", "M")
cars["Trans_binary"]

0        A
1        A
2        A
3        A
4        A
        ..
35947    A
35948    A
35949    A
35950    A
35951    M
Name: Trans_binary, Length: 35952, dtype: object

In [ ]:
## solution 2
data.loc[data["Make"].str.contains("Dutton", case=False), "Make"] = "Dutton"

In [12]:
cars.columns.get_loc("Trans_binary")

15

In [13]:
cars.columns

Index(['Make', 'Model', 'Year', 'Engine Displacement', 'Cylinders',
       'Transmission', 'Drivetrain', 'Vehicle Class', 'Fuel Type',
       'Fuel Barrels/Year', 'City MPG', 'Highway MPG', 'Combined MPG',
       'CO2 Emission Grams/Mile', 'Fuel Cost/Year', 'Trans_binary'],
      dtype='object')

In [14]:
cars.Trans_binary.value_counts(normalize=True)

A    0.675623
M    0.324377
Name: Trans_binary, dtype: float64

In [15]:
## Convert CO2 Emissions from Grams/Mile to Grams/Km

In [16]:
cars["CO2 Emission Grams/Mile"]

0        522.764706
1        683.615385
2        555.437500
3        683.615385
4        555.437500
            ...
35947    244.000000
35948    243.000000
35949    244.000000
35950    246.000000
35951    255.000000
Name: CO2 Emission Grams/Mile, Length: 35952, dtype: float64

In [17]:
cars['CO2 Emission Grams/KM'] = cars['CO2 Emission Grams/Mile'] / 1.60934

In [18]:
cars['CO2 Emission Grams/KM']

0        324.831736
1        424.779962
2        345.133719
3        424.779962
4        345.133719
            ...
35947    151.614948
35948    150.993575
35949    151.614948
35950    152.857693
35951    158.450048
Name: CO2 Emission Grams/KM, Length: 35952, dtype: float64

In [19]:
cars = cars.drop('CO2 Emission Grams/Mile', axis=1)

In [20]:
## convert MPG columns to km_per_liter

In [21]:
cars["City MPG"] = cars["City MPG"] * ( 1.60934 / 3.78541 )

In [22]:
cars["City MPG"]

0         7.652571
1         5.526857
2         6.802286
3         5.526857
4         5.952000
           ...
35947    14.454857
35948    14.454857
35949    14.454857
35950    14.454857
35951    13.604571
Name: City MPG, Length: 35952, dtype: float64

In [23]:
cars["Highway MPG"] = cars["Highway MPG"] * ( 1.60934 / 3.78541 )

In [24]:
cars["Highway MPG"]

0         7.227428
1         5.526857
2         7.227428
3         5.526857
4         8.928000
           ...
35947    16.155428
35948    16.155428
35949    16.155428
35950    16.580571
35951    16.580571
Name: Highway MPG, Length: 35952, dtype: float64

In [25]:
cars["Combined MPG"] = cars["Combined MPG"] * ( 1.60934 / 3.78541 )
cars["Combined MPG"]

0         7.227428
1         5.526857
2         6.802286
3         5.526857
4         6.802286
           ...
35947    15.305143
35948    15.305143
35949    15.305143
35950    15.305143
35951    14.880000
Name: Combined MPG, Length: 35952, dtype: float64

In [26]:
cars

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,Fuel Cost/Year,Trans_binary,CO2 Emission Grams/KM
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,7.652571,7.227428,7.227428,1950,A,324.831736
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,5.526857,5.526857,5.526857,2550,A,424.779962
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,6.802286,7.227428,6.802286,2100,A,345.133719
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,5.526857,5.526857,5.526857,2550,A,424.779962
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,5.952000,8.928000,6.802286,2550,A,345.133719
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,14.454857,16.155428,15.305143,1100,A,151.614948
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,14.454857,16.155428,15.305143,1100,A,150.993575
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,14.454857,16.155428,15.305143,1100,A,151.614948
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,14.454857,16.580571,15.305143,1100,A,152.857693
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,13.604571,16.580571,14.880000,1150,M,158.450048

convert MPG columns to km_per_liter

MPG = Miles/Gallon -> Km/Liter

1 Mile = 1.60934 Km

1 Gallon = 3.78541 Liters

$$ \frac{Miles}{Gallon} -> \frac{Miles}{Gallon} * \frac{Km}{Miles} * \frac{Gallon}{Liters}$$

$$ \frac{Miles}{Gallon} -> \frac{Miles}{Gallon} * \frac{1.60934Km}{ 1Miles} * \frac{1 Gallon}{3.78541 Liters}$$

* ( 1.60934 / 3.78541 )

### Gathering insights:

- How many car makers are there? How many models? Which car maker has the most cars in the dataset?

- When were these cars made? How big is the engine of these cars?

- What's the frequency of different transmissions, drivetrains and fuel types?

- What's the car that consumes the least/most fuel?

In [28]:
cars.Make.nunique()

125

In [29]:
cars.Model.nunique()

3608

In [30]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35952 entries, 0 to 35951
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Make                   35952 non-null  object
 1   Model                  35952 non-null  object
 2   Year                   35952 non-null  int64
 3   Engine Displacement    35952 non-null  float64
 4   Cylinders              35952 non-null  float64
 5   Transmission           35952 non-null  object
 6   Drivetrain             35952 non-null  object
 7   Vehicle Class          35952 non-null  object
 8   Fuel Type              35952 non-null  object
 9   Fuel Barrels/Year      35952 non-null  float64
 10  City MPG               35952 non-null  float64
 11  Highway MPG            35952 non-null  float64
 12  Combined MPG           35952 non-null  float64
 13  Fuel Cost/Year         35952 non-null  int64
 14  Trans_binary           35952 non-null  object
 15  CO2 Emission Grams/KM  35952 non-null  float64
dtypes: float64(7), int64(2), object(7)
memory usage: 4.4+ MB

In [31]:
cars.Model.value_counts(normalize=True)

F150 Pickup 2WD      0.005480
F150 Pickup 4WD      0.004979
Truck 2WD            0.004812
Mustang              0.004729
Jetta                0.004701
                       ...
C300 Convertible     0.000028
C300 Coupe           0.000028
C300 FFV             0.000028
C320 4matic Sedan    0.000028
DJ Po Vehicle 2WD    0.000028
Name: Model, Length: 3608, dtype: float64

In [32]:
cars_year = cars.Year.value_counts(normalize=True)

In [33]:
cars_year.sort_values

<bound method Series.sort_values of 1985    0.043975
2015    0.035158
2016    0.034157
2014    0.033684
1987    0.033322
1986    0.033044
2008    0.032933
2009    0.032905
2013    0.032488
2005    0.032154
2012    0.031681
1989    0.031347
2007    0.031320
2011    0.031264
1991    0.031208
1988    0.031125
2004    0.030958
2010    0.030819
1992    0.030791
2006    0.030569
1993    0.029957
1990    0.029706
2003    0.028761
1994    0.026897
2002    0.026730
1995    0.025812
2001    0.025089
2017    0.023837
1999    0.023031
2000    0.023003
1998    0.022002
1996    0.021334
1997    0.021000
1984    0.017941
Name: Year, dtype: float64>

In [34]:
cars["Engine Displacement"].values

array([2.5, 4.2, 2.5, ..., 1. , 0.9, 0.9])

In [35]:
cars.Trans_binary.value_counts(normalize=True)

A    0.675623
M    0.324377
Name: Trans_binary, dtype: float64

In [36]:
cars.Drivetrain.value_counts(normalize=True)

Front-Wheel Drive             0.362817
Rear-Wheel Drive              0.353972
4-Wheel or All-Wheel Drive    0.180880
All-Wheel Drive               0.056715
4-Wheel Drive                 0.029428
2-Wheel Drive                 0.011766
Part-time 4-Wheel Drive       0.004395
2-Wheel Drive, Front          0.000028
Name: Drivetrain, dtype: float64

In [37]:
cars["Fuel Type"].value_counts(normalize=True)

Regular                        0.656069
Premium                        0.275951
Gasoline or E85                0.033239
Diesel                         0.025339
Premium or E85                 0.003366
Midgrade                       0.002058
CNG                            0.001669
Premium and Electricity        0.000556
Gasoline or natural gas        0.000556
Premium Gas or Electricity     0.000473
Regular Gas and Electricity    0.000445
Gasoline or propane            0.000223
Regular Gas or Electricity     0.000056
Name: Fuel Type, dtype: float64

In [38]:
cars["Fuel Barrels/Year"].sort_values()

17396     0.060000
17395     0.060000
17397     0.060000
17398     0.060000
17288     0.066429
           ...
20897    47.087143
20894    47.087143
20896    47.087143
20898    47.087143
20895    47.087143
Name: Fuel Barrels/Year, Length: 35952, dtype: float64

In [39]:
cars["Fuel Barrels/Year"].max()
cars["Fuel Barrels/Year"].idxmax()

47.08714285714285

20894

In [40]:
cars["Fuel Barrels/Year"].min()
cars["Fuel Barrels/Year"].idxmin()

0.06

17395

In [41]:
cars.iat[cars["Fuel Barrels/Year"].idxmax(), 1]

'Countach'

In [42]:
cars.iat[cars["Fuel Barrels/Year"].idxmin(), 1]

'Civic Natural Gas'

What brand has the worse CO2 Emissions on average?

Hint: use the function `sort_values()`

In [43]:
cars["CO2 Emission Grams/KM"].max()
cars["CO2 Emission Grams/KM"].idxmax()

788.8770729438335

20894

In [44]:
cars.columns.get_loc("CO2 Emission Grams/KM")

15

In [45]:
cars.iat[cars["CO2 Emission Grams/KM"].idxmax(), 0]

'Lamborghini'

Do cars with automatic transmission consume more fuel than cars with manual transmission on average?

In [46]:
avg_A = np.where(cars["Trans_binary"] == "A", cars["Fuel Barrels/Year"], 0)
avg_M = np.where(cars["Trans_binary"] == "M", cars["Fuel Barrels/Year"], 0)

In [47]:
avg_A.sum()

438268.16871060035

In [48]:
avg_M.sum()

194812.5947091007

In [49]:
avg_A.sum() / sum(cars["Trans_binary"] == "A")
avg_M.sum() / sum(cars["Trans_binary"] == "M")

18.04315227297655

16.704904365383356

In [50]:
avg_A.sum() / sum(cars["Trans_binary"] == "A") > avg_M.sum() / sum(cars["Trans_binary"] == "M")

True

In [51]:
cars

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,Fuel Cost/Year,Trans_binary,CO2 Emission Grams/KM
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,7.652571,7.227428,7.227428,1950,A,324.831736
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,5.526857,5.526857,5.526857,2550,A,424.779962
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,6.802286,7.227428,6.802286,2100,A,345.133719
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,5.526857,5.526857,5.526857,2550,A,424.779962
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,5.952000,8.928000,6.802286,2550,A,345.133719
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,14.454857,16.155428,15.305143,1100,A,151.614948
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,14.454857,16.155428,15.305143,1100,A,150.993575
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,14.454857,16.155428,15.305143,1100,A,151.614948
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,14.454857,16.580571,15.305143,1100,A,152.857693
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,13.604571,16.580571,14.880000,1150,M,158.450048