In [64]:
import scipy
import math
import numpy as np
import pandas as pd
import scipy.stats as stats
import seaborn as sns

In [65]:
machine_data = df = pd.read_csv("Data_Machine.txt", sep="\t")
machine_data

   New Machine    Old Machine
0         42.1           42.7
1         41.0           43.6
2         41.3           43.8
3         41.8           43.3
4         42.4           42.5
5         42.8           43.5
6         43.2           43.1
7         42.3           41.7
8         41.8           44.0
9         42.7           44.1

In [48]:
def delete_spaces(machine_data):
    machine_data.columns = [i.strip() for i in machine_data.columns]
    return machine_data

In [49]:
delete_spaces(machine_data)

   New Machine  Old Machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5
5         42.8         43.5
6         43.2         43.1
7         42.3         41.7
8         41.8         44.0
9         42.7         44.1

In [66]:
machine_data.columns

Index(['New Machine', '  Old Machine'], dtype='object')

In [67]:
sns.histplot(machine_data[column])

NameError: name 'column' is not defined

Hypotheses:
H0: new machine is faster/as fast as than old machine => nm_mean >= om_mean
    new machine is faster than old machine => nm_mean < om_mean

In [51]:
nm_mean = machine_data["New Machine"].mean()
nm_mean

42.14

In [52]:
om_mean = machine_data["Old Machine"].mean()
round(om_mean, 2)

43.23

In [53]:
nm_std = machine_data["New Machine"].std()
round(nm_std, 2)

0.68

In [54]:
om_std = machine_data["Old Machine"].std()
round(om_std, 2)

0.75

In [55]:
# test statistic / t value
t = ( nm_mean - om_mean ) / np.sqrt( ((nm_std**2)/10) + ((om_std**2)/10 ) )

print("Our t statistic is: {:.2f}".format(t))

Our t statistic is: -3.40

In [58]:
# critical value
tc = -stats.t.ppf(1-(0.05),df=9) 

print("The tc critical value is: {:.2f}".format(tc))

The tc critical value is: -1.83

In [63]:
t < tc

True

# The H0 is rejected